{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
{{ partial "mathjax.html" . }}

{{- /* 加载首页动画JavaScript */ -}}
<script defer src="{{ "js/home_animations.js" | absURL }}"></script>
<style>
    /* 修改文章页标题字号 */
    .post-single .post-title {
        font-size: 40px; /* 默认通常是 40px 左右，你可以改小或改大 */
    }

    /* 如果觉得移动端（手机）上标题也太大了，可以单独设置 */
    @media screen and (max-width: 768px) {
        .post-single .post-title {
            font-size: 24px;
        }
    }
</style>