{{- $page := . -}}
{{- $length := 180 -}}
{{- if reflect.IsMap . -}}
  {{- $page = .Page -}}
  {{- with .Length -}}
    {{- $length = . -}}
  {{- end -}}
{{- end -}}

{{- $summary := "" -}}
{{- with $page.Description -}}
  {{- $summary = . -}}
{{- else with $page.Params.summary -}}
  {{- $summary = . -}}
{{- else with $page.RawContent -}}
  {{- $summary = . -}}
{{- else with $page.Title -}}
  {{- $summary = . -}}
{{- end -}}

{{- $summary = replaceRE `(?s)<!--more-->.*$` "" $summary -}}
{{- $summary = replaceRE "(?s)```.*?```" "" $summary -}}
{{- $summary = replaceRE `!\[\[[^\]]+\]\]` "" $summary -}}
{{- $summary = replaceRE `!\[[^\]]*\]\([^)]+\)` "" $summary -}}
{{- $summary = $summary | plainify | htmlUnescape | chomp | truncate $length -}}
{{- return $summary -}}
